<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="header clearfix">
    <div style=float:left>
      <img src="img/js.png" id="logo"/>
    </div>
    <h1>Snippets.JS!</h1>
  </div>
  <div style=float:right>
    <a href="/">Home</a>
    <a href="/add">Add Snippet</a>
  </div>
  
  {{{body}}}
  
</body>
</html>